<div class="flex-auto flex flex-col">
  <div class="flex flex-col relative">

    <div
      class="w-full"
      (click)="isOpen = !isOpen"
    >
      <div class="m-2 bg-white p-1 flex border border-gray-200 rounded">
        <div class="flex flex-auto flex-wrap"></div>
        <span class="cursor-pointer p-1 px-2 appearance-none outline-none w-full text-gray-800">headers</span>
        <div class="text-gray-300 w-8 py-1 pl-2 pr-1 border-l flex items-center border-gray-200">
          <button class="cursor-pointer w-6 h-6 text-gray-600 outline-none focus:outline-none">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="100%"
              height="100%"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-chevron-up w-4 h-4"
            >
              <polyline points="18 15 12 9 6 15"></polyline>
            </svg>
          </button>
        </div>
      </div>
    </div>

    <div
      *ngIf="isOpen"
      (mouseleave)="isOpen = !isOpen"
      class="absolute shadow z-40 w-full rounded overflow-y-auto -ml-56"
    >
      <div class="flex flex-col w-full">

        <div
          (click)="clickedMenu.emit('centered-with-bottom-border')"
          class="cursor-pointer w-full border-gray-100 border-b hover:bg-teal-100"
        >
          <div
            class="flex w-full items-center p-2 pl-2 border-transparent bg-white border-l-2 relative hover:bg-teal-600 hover:text-teal-100 border-teal-600"
          >
            <div class="w-full items-center flex">
              <div class="mx-2 leading-6">centered-with-bottom-border</div>
            </div>
          </div>
        </div>

        <div
          (click)="clickedMenu.emit('teal-header-background')"
          class="cursor-pointer w-full border-gray-100 rounded-b hover:bg-teal-100"
        >
          <div
            class="flex w-full items-center p-2 pl-2 border-transparent bg-white border-l-2 relative  hover:bg-teal-600 hover:text-teal-100"
          >
            <div class="w-full items-center flex">
              <div class="mx-2 leading-6">teal-header-background</div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
