<div
  class="min-h-screen"
  [ngSwitch]="compUI"
>
  <app-centered-with-bottom-border *ngSwitchCase="'centered-with-bottom-border'"></app-centered-with-bottom-border>
  <app-teal-back-nav *ngSwitchCase="'teal-header-background'"></app-teal-back-nav>
  <app-dark-nav-feat-white-header *ngSwitchCase="'dark-nav-feat-white-header'"></app-dark-nav-feat-white-header>
  <div *ngSwitchDefault>no header / navigation</div>
  <!-- <app-hero-section></app-hero-section> -->
  <!-- <app-corat-coret></app-corat-coret> -->
</div>


<app-floating-key-btn (clickedMenu)="changeComponents($event)"></app-floating-key-btn>
